<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
    
        <div class="top-cover">
          <div class="cover-image">
            <img class="lazy" data-src="/images/37.jpg" alt="">
          </div>
        </div>
  
        <%- include('./partials/header.ejs')%>
  
  
      
<main class="content animate" aria-label="Content">

    <div class="container animate">
        <article class="page">
          <div class="page__content">
            <div class="container">
              <div class="row">
                <div class="col col-12">
                  <div class="error">
                    <h2 class="error__title">404</h2>
                    <p class="error__text">The requested page could not be found.</p>
                    <a class="button button--middle error__button" href="/">Back to homepage</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
  
  </main>


  
      
  <%- include('./partials/contact_modal.ejs')%>
      
  
  <%- include('./partials/whatsapp_section.ejs')%>
  
<div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
 <%- include('./partials/footer.ejs')%>
     
</body>
</html>