<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
    
        <div class="top-cover">
          <div class="cover-image">
            <img class="lazy" data-src="/images/37.jpg" alt="">
          </div>
        </div>
  
        <%- include('./partials/header.ejs')%>
  
  
      
        <main class="content animate" aria-label="Content">
      




          <div class="container">
            <div class="row">
              <div class="col col-8 push-2 col-t-12 push-t-0">
                <div class="page-head">
                  <h1 class="page-title">Blog</h1>
                  
                    <p class="page-description">Avenco blog features productivity, tips, inspiration and strategies for massive profits. Find out how to set up a successful blog or how to make yours even better!</p>
                  
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="container animate">
            <div class="row">
              
              
                <div class="article col col-4 col-d-6 col-t-12">
            <div class="article__inner">
          
              
                <div class="image-wrap">
                  <a class="article__image" href="that-which-does-not-kill-us-makes-us-stronger/index.html">
                    <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/02.jpg" alt="That which does not kill us makes us stronger">
                  </a>
                </div>
              
          
              <div class="article__content">
          
                
                <div class="article-tags__box">
                  
                  <a href="../tags/travel/index.html" class="article__tag">travel</a>
                  
                  <a href="../tags/lifestyle/index.html" class="article__tag">lifestyle</a>
                  
                </div>
                
          
                <h2 class="article__title">
                  <a href="that-which-does-not-kill-us-makes-us-stronger/index.html">That which does not kill us makes us stronger</a>
                </h2>
          
                <p class="article__excerpt">In qua quid est boni praeter summam voluptatem, et eam sempiternam. Cur …</p>
          
                <div class="article__meta">
                  <a href="../about/index.html" class="article__author-image">
                    <img src="../images/xky.jpg" alt="Sky">
                  </a>
                  <div class="article-info">
                    <a href="../about/index.html" class="article__author-link">Sky</a>
                    <span class="article__date"><time datetime=" 2022-01-25T15:01:35&#43;03:00">25 Jan 2022</time></span>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
              
                <div class="article col col-4 col-d-6 col-t-12">
            <div class="article__inner">
          
              
                <div class="image-wrap">
                  <a class="article__image" href="do-what-you-can-with-what-you-have-where-you-are/index.html">
                    <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/03.jpg" alt="Do what you can, with what you have, where you are">
                  </a>
                </div>
              
          
              <div class="article__content">
          
                
                <div class="article-tags__box">
                  
                  <a href="../tags/life/index.html" class="article__tag">life</a>
                  
                  <a href="../tags/story/index.html" class="article__tag">story</a>
                  
                </div>
                
          
                <h2 class="article__title">
                  <a href="do-what-you-can-with-what-you-have-where-you-are/index.html">Do what you can, with what you have, where you are</a>
                </h2>
          
                <p class="article__excerpt">In qua quid est boni praeter summam voluptatem, et eam sempiternam. Cur …</p>
          
                <div class="article__meta">
                  <a href="../about/index.html" class="article__author-image">
                    <img src="../images/xky.jpg" alt="Sky">
                  </a>
                  <div class="article-info">
                    <a href="../about/index.html" class="article__author-link">Sky</a>
                    <span class="article__date"><time datetime=" 2022-01-24T15:01:35&#43;03:00">24 Jan 2022</time></span>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
              
                <div class="article col col-4 col-d-6 col-t-12">
            <div class="article__inner">
          
              
                <div class="image-wrap">
                  <a class="article__image" href="strive-not-to-be-a-success-but-rather-to-be-of-value/index.html">
                    <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/04.jpg" alt="Strive not to be a success, but rather to be of value">
                  </a>
                </div>
              
          
              <div class="article__content">
          
                
                <div class="article-tags__box">
                  
                  <a href="../tags/notes/index.html" class="article__tag">notes</a>
                  
                  <a href="../tags/life/index.html" class="article__tag">life</a>
                  
                </div>
                
          
                <h2 class="article__title">
                  <a href="strive-not-to-be-a-success-but-rather-to-be-of-value/index.html">Strive not to be a success, but rather to be of value</a>
                </h2>
          
                <p class="article__excerpt">In qua quid est boni praeter summam voluptatem, et eam sempiternam. Cur …</p>
          
                <div class="article__meta">
                  <a href="../about/index.html" class="article__author-image">
                    <img src="../images/xky.jpg" alt="Sky">
                  </a>
                  <div class="article-info">
                    <a href="../about/index.html" class="article__author-link">Sky</a>
                    <span class="article__date"><time datetime=" 2022-01-23T15:01:35&#43;03:00">23 Jan 2022</time></span>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
              
                <div class="article col col-4 col-d-6 col-t-12">
            <div class="article__inner">
          
              
                <div class="image-wrap">
                  <a class="article__image" href="life-shrinks-or-expands-in-proportion-to-ones-courage/index.html">
                    <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/07.jpg" alt="Life shrinks or expands in proportion to one’s courage">
                  </a>
                </div>
              
          
              <div class="article__content">
          
                
                <div class="article-tags__box">
                  
                  <a href="../tags/travel/index.html" class="article__tag">travel</a>
                  
                  <a href="../tags/life/index.html" class="article__tag">life</a>
                  
                  <a href="../tags/story/index.html" class="article__tag">story</a>
                  
                </div>
                
          
                <h2 class="article__title">
                  <a href="life-shrinks-or-expands-in-proportion-to-ones-courage/index.html">Life shrinks or expands in proportion to one’s courage</a>
                </h2>
          
                <p class="article__excerpt">In qua quid est boni praeter summam voluptatem, et eam sempiternam. Cur …</p>
          
                <div class="article__meta">
                  <a href="../about/index.html" class="article__author-image">
                    <img src="../images/xky.jpg" alt="Sky">
                  </a>
                  <div class="article-info">
                    <a href="../about/index.html" class="article__author-link">Sky</a>
                    <span class="article__date"><time datetime=" 2022-01-22T15:01:35&#43;03:00">22 Jan 2022</time></span>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
              
                <div class="article col col-4 col-d-6 col-t-12">
            <div class="article__inner">
          
              
                <div class="image-wrap">
                  <a class="article__image" href="you-must-be-the-change-you-wish-to-see-in-the-world/index.html">
                    <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/09.jpg" alt="You must be the change you wish to see in the world">
                  </a>
                </div>
              
          
              <div class="article__content">
          
                
                <div class="article-tags__box">
                  
                  <a href="../tags/lifestyle/index.html" class="article__tag">lifestyle</a>
                  
                  <a href="../tags/rest/index.html" class="article__tag">rest</a>
                  
                </div>
                
          
                <h2 class="article__title">
                  <a href="you-must-be-the-change-you-wish-to-see-in-the-world/index.html">You must be the change you wish to see in the world</a>
                </h2>
          
                <p class="article__excerpt">In qua quid est boni praeter summam voluptatem, et eam sempiternam. Cur …</p>
          
                <div class="article__meta">
                  <a href="../about/index.html" class="article__author-image">
                    <img src="../images/xky.jpg" alt="Sky">
                  </a>
                  <div class="article-info">
                    <a href="../about/index.html" class="article__author-link">Sky</a>
                    <span class="article__date"><time datetime=" 2022-01-21T15:01:35&#43;03:00">21 Jan 2022</time></span>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
              
                <div class="article col col-4 col-d-6 col-t-12">
            <div class="article__inner">
          
              
                <div class="image-wrap">
                  <a class="article__image" href="believe-and-act-as-if-it-were-impossible-to-fail/index.html">
                    <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/10.jpg" alt="Believe and act as if it were impossible to fail">
                  </a>
                </div>
              
          
              <div class="article__content">
          
                
                <div class="article-tags__box">
                  
                  <a href="../tags/travel/index.html" class="article__tag">travel</a>
                  
                  <a href="../tags/lifestyle/index.html" class="article__tag">lifestyle</a>
                  
                </div>
                
          
                <h2 class="article__title">
                  <a href="believe-and-act-as-if-it-were-impossible-to-fail/index.html">Believe and act as if it were impossible to fail</a>
                </h2>
          
                <p class="article__excerpt">In qua quid est boni praeter summam voluptatem, et eam sempiternam. Cur …</p>
          
                <div class="article__meta">
                  <a href="../about/index.html" class="article__author-image">
                    <img src="../images/xky.jpg" alt="Sky">
                  </a>
                  <div class="article-info">
                    <a href="../about/index.html" class="article__author-link">Sky</a>
                    <span class="article__date"><time datetime=" 2022-01-19T15:01:35&#43;03:00">19 Jan 2022</time></span>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
              
            </div>
          </div>
          
          
          
          <div class="container">
            <div class="row">
              <div class="col col-12">
                <nav class="pagination animate" aria-label="Page navigation">
                  <div class="pagination__inner">
          
                    <div class="pagination__list">
                      
                        <span class="pagination__prev pagination__item disabled"><i class="ion ion-ios-arrow-back"></i> Prev</span>
                      
          
                      <div class="pagination__count pagination__item">Page 1 of 2</div>
          
                      
                        <a href="page/2/index.html" class="pagination__next pagination__item">Next <i class="ion ion-ios-arrow-forward"></i></a>
                      
                    </div>
          
                  </div>
                </nav>
              </div>
            </div>
          </div>
          
          
          
          
          
              </main>


      
              <%- include('./partials/contact_modal.ejs')%>
              <%- include('./partials/whatsapp_section.ejs')%>
              
            <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
             <%- include('./partials/footer.ejs')%>
                  
</body>
</html>