<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
    
        <div class="top-cover">
          <div class="cover-image">
            <img class="lazy" data-src="/images/37.jpg" alt="">
          </div>
        </div>
  
        <%- include('./partials/header.ejs')%>
  
  
      
        <main class="content animate" aria-label="Content">
      


            <div class="container">
              <div class="page-head">
                <h1 class="page-title">My works</h1>
                
                  <p class="page-description">I shows only the best websites and portfolios built completely with passion, simplicity &amp; creativity!</p>
                
              </div>
            </div>
            
            
            <div class="container animate">
              <div class="row">
            
                
                <article class="project col col-4 col-d-6 col-t-12">
                  <div class="project__content">
                    <a href="abstraction/index.html" class="project__image">
                      <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/project-1.jpg" alt="Abstraction">
                    </a>
                    <div class="project__info">
                      <div class="project__info-wrap">
                        <h3 class="project__title">Abstraction</h3>
                      </div>
                      <div class="project__info-wrap">
                        
                          <div class="project__subtitle">Branding –</div>
                        
                      </div>
                    </div>
                  </div>
                </article>
                
                <article class="project col col-4 col-d-6 col-t-12">
                  <div class="project__content">
                    <a href="minimalism/index.html" class="project__image">
                      <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/project-8.jpg" alt="Minimalism">
                    </a>
                    <div class="project__info">
                      <div class="project__info-wrap">
                        <h3 class="project__title">Minimalism</h3>
                      </div>
                      <div class="project__info-wrap">
                        
                          <div class="project__subtitle">Photography –</div>
                        
                      </div>
                    </div>
                  </div>
                </article>
                
                <article class="project col col-4 col-d-6 col-t-12">
                  <div class="project__content">
                    <a href="macbook/index.html" class="project__image">
                      <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/project-4.jpg" alt="Macbook">
                    </a>
                    <div class="project__info">
                      <div class="project__info-wrap">
                        <h3 class="project__title">Macbook</h3>
                      </div>
                      <div class="project__info-wrap">
                        
                          <div class="project__subtitle">Branding –</div>
                        
                      </div>
                    </div>
                  </div>
                </article>
                
                <article class="project col col-4 col-d-6 col-t-12">
                  <div class="project__content">
                    <a href="start-over/index.html" class="project__image">
                      <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/project-5.jpg" alt="Start Over">
                    </a>
                    <div class="project__info">
                      <div class="project__info-wrap">
                        <h3 class="project__title">Start Over</h3>
                      </div>
                      <div class="project__info-wrap">
                        
                          <div class="project__subtitle">Photography –</div>
                        
                      </div>
                    </div>
                  </div>
                </article>
                
                <article class="project col col-4 col-d-6 col-t-12">
                  <div class="project__content">
                    <a href="city-lights/index.html" class="project__image">
                      <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/project-6.jpg" alt="City Lights">
                    </a>
                    <div class="project__info">
                      <div class="project__info-wrap">
                        <h3 class="project__title">City Lights</h3>
                      </div>
                      <div class="project__info-wrap">
                        
                          <div class="project__subtitle">Photography –</div>
                        
                      </div>
                    </div>
                  </div>
                </article>
                
                <article class="project col col-4 col-d-6 col-t-12">
                  <div class="project__content">
                    <a href="illustration/index.html" class="project__image">
                      <img class="lazy" data-src="https://avenco-hugo.netlify.app/images/project-7.jpg" alt="Illustration">
                    </a>
                    <div class="project__info">
                      <div class="project__info-wrap">
                        <h3 class="project__title">Illustration</h3>
                      </div>
                      <div class="project__info-wrap">
                        
                          <div class="project__subtitle">Branding –</div>
                        
                      </div>
                    </div>
                  </div>
                </article>
                
            
              </div>
            </div>
            
            
    </main>


      
    <%- include('./partials/contact_modal.ejs')%>
      
  
    <%- include('./partials/whatsapp_section.ejs')%>
    
  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
   <%- include('./partials/footer.ejs')%>
        
          

</body>
</html>